
<h1>games</h1>

<section>
<form method="POST" action="/delete/<%=gameData[0]._id%>">
    <%=gameData[0].game_name%>
    <p>action="/delete<%=gameData[0]._id%>"</p>
    <input type="submit" value="delete first game">
</form>
</section>

<section>
<form method="POST" action="/update">
    <input type="hidden" name="nameID" value="<%=gameData[0]._id%">
    <input name="inputUpdateName">
    <input type="submit" value="delete first game">
</form>
</section>


<!-- <a href="/insert">insert hard code value</a> -->

<form method="POST" action="/insert">
    <input name="myName">
    <input type="submit" value="save my name!">
</form>
